imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr_FR
    default_profile_image: "bundles/app/images/albumcover/default.jpg"

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enabled: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
        default_profile_image: "%default_profile_image%"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        types:
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    port:      "%mailer_port%"
    encryption: "%mailer_encryption%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

assetic:
    debug:          "%kernel.debug%"
    use_controller: "%kernel.debug%"
    filters:
        cssrewrite: ~
    assets:
        boostrap:
            inputs:
                - "%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css"
            filters:
                - cssrewrite
        jquery_bootstrap:
            inputs:
                - "%kernel.root_dir%/../vendor/jquery/jquery/jquery-2.2.4.js"
                - "%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js"
        font_awesome:
            inputs:
                - '%kernel.root_dir%/../vendor/components/font-awesome/css/font-awesome.css'
            filters:
                - cssrewrite
        font-awesome-otf:
                inputs: '%kernel.root_dir%/../vendor/components/font-awesome/fonts/FontAwesome.otf'
                output: 'fonts/FontAwesome.otf'
        font-awesome-eot:
            inputs: '%kernel.root_dir%/../vendor/components/font-awesome/fonts/fontawesome-webfont.eot'
            output: 'fonts/fontawesome-webfont.eot'
        font-awesome-svg:
            inputs: '%kernel.root_dir%/../vendor/components/font-awesome/fonts/fontawesome-webfont.svg'
            output: 'fonts/fontawesome-webfont.svg'
        font-awesome-ttf:
            inputs: '%kernel.root_dir%/../vendor/components/font-awesome/fonts/fontawesome-webfont.ttf'
            output: 'fonts/fontawesome-webfont.ttf'
        font-awesome-woff:
            inputs: '%kernel.root_dir%/../vendor/components/font-awesome/fonts/fontawesome-webfont.woff'
            output: 'fonts/fontawesome-webfont.woff'
        font-awesome-woff2:
            inputs: '%kernel.root_dir%/../vendor/components/font-awesome/fonts/fontawesome-webfont.woff2'
            output: 'fonts/fontawesome-webfont.woff2'
        glyphicons-eot:
            inputs: '%kernel.root_dir%/../vendor/twbs/bootstrap/fonts/glyphicons-halflings-regular.eot'
            output: 'fonts/glyphicons-halflings-regular.eot'
        glyphicons-svg:
            inputs: '%kernel.root_dir%/../vendor/twbs/bootstrap/fonts/glyphicons-halflings-regular.svg'
            output: 'fonts/glyphicons-halflings-regular.svg'
        glyphicons-ttf:
            inputs: '%kernel.root_dir%/../vendor/twbs/bootstrap/fonts/glyphicons-halflings-regular.ttf'
            output: 'fonts/glyphicons-halflings-regular.ttf'
        glyphicons-woff:
            inputs: '%kernel.root_dir%/../vendor/twbs/bootstrap/fonts/glyphicons-halflings-regular.woff'
            output: 'fonts/glyphicons-halflings-regular.woff'
        glyphicons-woff2:
            inputs: '%kernel.root_dir%/../vendor/twbs/bootstrap/fonts/glyphicons-halflings-regular.woff2'
            output: 'fonts/glyphicons-halflings-regular.woff2'
        ionicons:
            inputs: '%kernel.root_dir%/../vendor/driftyco/ionicons/css/ionicons.css'
            filters:
                - cssrewrite
        ionicons-eot:
            inputs: '%kernel.root_dir%/../vendor/driftyco/ionicons/fonts/ionicons.eot'
            output: 'fonts/ionicons.eot'
        ionicons-svg:
            inputs: '%kernel.root_dir%/../vendor/driftyco/ionicons/fonts/ionicons.svg'
            output: 'fonts/ionicons.svg'
        ionicons-ttf:
            inputs: '%kernel.root_dir%/../vendor/driftyco/ionicons/fonts/ionicons.ttf'
            output: 'fonts/ionicons.ttf'
        ionicons-woff:
            inputs: '%kernel.root_dir%/../vendor/driftyco/ionicons/fonts/ionicons.woff'
            output: 'fonts/ionicons.woff'
        adminlte_css:
            inputs:
              - "%kernel.root_dir%/../vendor/almasaeed2010/adminlte/dist/css/AdminLTE.css"
              - '%kernel.root_dir%/../vendor/almasaeed2010/adminlte/dist/css/skins/skin-blue.css'
        adminlte_js:
            inputs: '%kernel.root_dir%/../vendor/almasaeed2010/adminlte/dist/js/app.js'
        slimscroll:
            inputs: '%kernel.root_dir%/../vendor/almasaeed2010/adminlte/plugins/slimScroll/jquery.slimscroll.js'
        jqueryui:
            inputs: '%kernel.root_dir%/../vendor/components/jqueryui/jquery-ui.js'

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: 'noreply@%site_domain%'
        sender_name: WebRadioPanel
    registration:
        form:
            type: AppBundle\Form\RegistrationType
        confirmation:
            enabled: true

easy_admin:
    site_name: 'WebRadioPanel'
    formats:
        date: 'd/m/Y'
        time: 'H:i'
        datetime: 'd/m/Y H:i:s'
    entities:
        User:
            class: AppBundle\Entity\User
            label: 'Utilisateurs'
            list:
                title: 'Les utilisateurs'
                fields:
                    - 'id'
                    - { property: 'imageName', type: 'image', base_path: '/images/profile/' }
                    - 'username'
                    - 'firstName'
                    - 'lastName'
                    - 'email'
                    - 'lastLogin'
                    - 'locked'
                    - 'roles'

            form:
                fields:
                    - 'username'
                    - 'password'
                    - 'firstName'
                    - 'lastName'
                    - 'email'
                    - 'address'
                    - 'postcode'
                    - 'city'
                    - { property: 'mobilePhoneNumber', type: Misd\PhoneNumberBundle\Form\Type\PhoneNumberType, type_options: { default_region: 'FR', format: 'national' } }
                    - { property: 'birthdate', type_options: { widget: 'single_text'} }
                    - { property: 'imageFile', type: Vich\UploaderBundle\Form\Type\VichImageType }
                    - 'description'
                    - 'locked'
                    - 'expired'
                    - 'credentialsExpired'

        Message:
            class: AppBundle\Entity\Message
        Song:
            class: AppBundle\Entity\Song
            list:
                fields:
                    - 'id'
                    - { property: 'imageName', type: 'image', base_path: '/images/albumcover/' }
                    - 'displayTitle'
                    - 'displayArtist'
                    - 'addtime'
                    - 'updatetime'
            form:
                fields:
                    - 'title'
                    - 'artist'
                    - 'displayTitle'
                    - 'displayArtist'
                    - 'addtime'
                    - 'updatetime'
                    - { property: 'imageFile', type: Vich\UploaderBundle\Form\Type\VichImageType }

liip_imagine:
    resolvers:
        default:
            web_path: ~

    filter_sets:
        cache: ~
        optimize:
            quality: 80
            filters:
                strip: ~

circle_rest_client:
    curl:
        defaults:
            CURLOPT_SSL_VERIFYPEER: false

fos_js_routing:
    routes_to_expose: [listenersmessages, currentaudience, currentsong]

vich_uploader:
    db_driver: orm
    mappings:
        profile_picture:
            uri_prefix: /images/profile
            upload_destination: "%kernel.root_dir%/../web/images/profile"
            namer: vich_uploader.namer_uniqid
        album_cover:
            uri_prefix: /images/albumcover
            upload_destination: "%kernel.root_dir%/../web/images/albumcover"
            namer: vich_uploader.namer_uniqid