parameters:
    radiouid: "29a999e6-a310-433a-b7c1-a58c7f3f269e"
    apikey: "76ea580b-d7db-4bbe-8f31-fe360ed6b002"
    cache_dir: "%kernel.cache_dir%/WebRadioPanel"

services:
    app.streaminginfo:
        class: AppBundle\Utils\RadionomyStreaming
        arguments: ["@circle.restclient", "@phpfilecache", "%radiouid%", "%apikey%"]
    phpfilecache:
        class: Doctrine\Common\Cache\PhpFileCache
        arguments: ["%cache_dir%"]
    app.albumcover:
        class: AppBundle\Utils\AlbumCover
        arguments: ["@circle.restclient"]
    app.form.registration:
        class: AppBundle\Form\RegistrationType
        arguments: ["@app.roleshelper"]
        tags:
            - { name: form.type, alias: app_user_registration }
    app.roleshelper:
        class: AppBundle\Utils\RolesHelper
        arguments: ["%security.role_hierarchy.roles%"]
    app.songprovider:
        class: AppBundle\Utils\SongProvider
        arguments: ["@app.albumcover", "@app.streaminginfo", "@doctrine.orm.entity_manager", "%kernel.cache_dir%"]