{% extends '@App/backend/layout.html.twig' %}

{% block title %}Board{{ parent() }}{% endblock title %}

{% block content_header %}
    <h1>
        Panel animateur
        <small>Tous les outils pour gérer vos émissions</small>
    </h1>
    <ol class="breadcrumb">
        <li>{{ 'ROLE_RADIO_HOST'|trans|upper }}</li>
        <li class="active"><i class="fa fa-dashboard"></i> Panel animateur</li>
    </ol>
{% endblock content_header %}

{% block main_content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Auditeurs</span>
                    <span class="info-box-number"><span id="nb-auditeurs"></span></span>
                    <div class="progress">
                        <div id="max-auditeurs-progress" class="progress-bar" style="width: 0"></div>
                    </div>
                    <span class="progress-description">
                    	<span id="max-auditeurs"></span> auditeurs max.
                    </span>
                </div>{# /.info-box-content #}
            </div>
        </div>{# /.col #}
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <h3>Dédicaces épinglés</h3>
            <div id="dedicaces-epingles">
                <p class="nothing text-center alert alert-info">Vous pouvez épingler des dédicaces ici en
                    cliquant sur <i class="fa fa-thumb-tack"></i> en haut à droite de chaque dédicace. Vous
                    pourrez ensuite organiser votre liste de dédicaces épinglés en modifiant l'ordre de
                    celles-ci à l'aide d'un cliquer-déposer.</p>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h3>Dédicaces</h3>
            Dernière mise à jour : <span id="update-time"></span> <span
                    class="pull-right"><label for="taux-rafraichissement">Rafraichissement</label>
            <select id="taux-rafraichissement">
                <option value="5">5 sec</option>
                <option value="10" selected>10 sec</option>
                <option value="15">20 sec</option>
                <option value="30">30 sec</option>
                <option value="45">45 sec</option>
                <option value="60">1 min</option>
                <option value="300">5 min</option>
            </select></span>
            <div class="clearfix"></div>
            <div class="height10"></div>
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> Filtrage</h4>
                Vous pouvez filtrer les dédicaces en cliquant sur le pseudo ou sur l'adresse IP.
            </div>
            <div id="list-dedicaces">

            </div>
        </div>
    </div>
{% endblock main_content %}

{% block foot_script_assetic %}

    {% javascripts
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
    '@jquery_bootstrap'
    '@jqueryui'
    '@slimscroll'
    '@AppBundle/Resources/public/js/backend/configapp.js'
    '@adminlte_js'
    '@AppBundle/Resources/public/js/backend/board.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock foot_script_assetic %}